.layout{
    height: 100%;
    width: 100%;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.8), 
            rgba(0, 0, 0, 0.8)),
        url('../public/portada.jpg');
    background-color: black;
}